{
  "extends": "@ivangabriele/eslint-config-typescript-next",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [".next/", ".yarn/", "build/", "dist/", "node_modules/"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],

    "import/extensions": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    // -------------------------------------------------------------------------
    // Next.js

    {
      "files": ["./app/**/*.jsx", "./app/**/*.tsx", "./pages/**/*.jsx", "./pages/**/*.tsx"],
      "rules": {
        "import/no-default-export": "off",
        "import/prefer-default-export": "error"
      }
    },
    {
      "files": ["./app/api/**/*.js", "./app/api/**/*.ts", "./pages/api/**/*.js", "./pages/api/**/*.ts"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-default-export": "error",
        "import/prefer-default-export": "off"
      }
    },

    // -------------------------------------------------------------------------
    // Config files

    {
      "files": ["./config/**/*.[jt]s", "./config/**/*.[cm][jt]s", "./*.[jt]s", "./*.[cm][jt]s"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-default-export": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}
