<menu class="I18nMenu hidden" lang="en" aria-label="Country and language selection" role="menubar">
  <li class="I18nMenuSection" role="menuitem">
    <h3 class="I18nMenuSection-Title">Global</h3>

    <menu class="I18nMenuSection-Menu" role="menu">
      <li class="I18nMenuSection-Item" role="menuitem">
        <a href="/" hreflang="en" lang="en">International (English)</a>
      </li>
      <li class="I18nMenuSection-Item" role="menuitem" aria-disabled="true">
        <a href="/es" hreflang="es" lang="es">Internacional (Español)</a>
      </li>
    </menu>
  </li>

  <li class="I18nMenuSection" role="menuitem">
    <h3 class="I18nMenuSection-Title">America</h3>

    <menu class="I18nMenuSection-Menu" role="menu">
      <!-- Brazil -->
      <li class="I18nMenuSection-Item" role="menuitem" aria-disabled="true">
        <a href="/pt-br" hreflang="pt-BR" lang="pt-BR">Brasil (Português)</a>
      </li>
    </menu>
  </li>

  <li class="I18nMenuSection" role="menuitem">
    <h3 class="I18nMenuSection-Title">Europe</h3>

    <menu class="I18nMenuSection-Menu" role="menu">
      <!-- France -->
      <li class="I18nMenuSection-Item" role="menuitem">
        <a href="/fr-fr" hreflang="fr-FR" lang="fr-FR">Français (France)</a>
      </li>
      <!-- United Kingdom -->
      <li class="I18nMenuSection-Item" role="menuitem" aria-disabled="true">
        <a href="/en-gb" hreflang="en-GB" lang="en-GB">English (UK)</a>
      </li>
    </menu>
  </li>
</menu>
